<%- include('partials/header') %>

<body>
    <%- include('partials/homenavbar') %>

    <div class="container">
        <% articles.forEach(article => { %>
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="display-5"><%= article.title %></h1>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
                <div class="card-footer">
                    <% if(typeof category === 'undefined'){ %>
                        <a href="/category/<%= article.category.slug %>/1" class="badge badge-info"><%= category.title %></a>
                    <% } else { %>
                        <a href="/category/<%= category.slug %>/1" class="badge badge-info"><%= category.title %></a>
                    <% } %>
                </div>
            </div>
        <% }); %>
        <div class="row my-5">
            <div class="col col-12">
                <% if(next) { %>
                    <a href="/category/<%= category.slug %>/<%= page + 1 %>" class="btn btn-primary float-right">Próximo >></a>
                <% } %>
                <% if(page > 1) { %>
                    <a href="/category/<%= category.slug %>/<%= page - 1 %>" class="btn btn-primary float-left"><< Anterior</a>
                <% } %>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer') %>